:root {
  --accent-color: rgb(221, 34, 66);
  --text-color: rgb(224, 224, 224);
}
@counter-style numbers-not-point {
  system: fixed;
  symbols: "01" "02" "03" "04" "05" "06" "07" "08" "09" "10" "11" "12" "13";
  suffix: " ";
}
body {
  font-family: "DM Sans";
}
html,
body {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
  color: #000;
}
.btn {
  border: none;
  background-color: var(--accent-color);
  padding: 22.5px 108px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border-radius: 40px;
  transition: background-color 250ms, color 250ms;
}
.btn:hover {
  cursor: pointer;
  background-color: white;
  color: var(--accent-color);
}
.abs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.mt-40 {
  margin-top: 40px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hidden {
  display: none;
}

.container {
  width: 375px;
  padding: 0 30px;
  margin: 0 auto;
}

.header {
  position: absolute;
  padding: 48px 0;
}
.header > .container,
.icons-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.nav {
  display: none;
}
.icons-container {
  gap: 20px;
  align-items: center;
}
.icons-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* HERO */
.hero {
  padding: 153px 0 40px;
  background: linear-gradient(
      192.53deg,
      rgba(0, 0, 0, 0.31) 20.027%,
      rgba(0, 0, 0, 0.29) 99.033%
    ),
    url("./images/hero-bg-mob.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-title {
  color: white;
  font-family: Roboto;
  font-size: 58.15px;
  line-height: 63px;
}
.hero-btn {
  padding: 21.5px 90.5px;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.hero-list {
  list-style: none;
  counter-reset: custom-counter;
  padding: 35px 72px 30px 32px;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 54px;
  margin-bottom: 0;
}
.hero-list-item {
  counter-increment: custom-counter;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero-list-item::before {
  content: counter(custom-counter, decimal-leading-zero);
  color: var(--accent-color);
  font-family: "Roboto";
  line-height: 19px;
}
.hero-list-title {
  color: white;
  font-weight: 700;
  font-size: 26px;
  line-height: 41px;
}
.hero-list-text {
  color: rgb(147, 147, 147);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.hero-video {
  background-image: url("./images/hero-video.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 66px 128px;
}
.hero-video-btn {
  border: none;
  background-color: white;
  border-radius: 50%;
  padding: 21px 20px 19px 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.hero-triangle {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid black;
}

/* ADVANTAGES */
.advantage {
  padding: 0 30px;
}
.advantage:first-child {
  padding-top: 40px;
  background: linear-gradient(
      0deg,
      rgb(1, 10, 32) 0%,
      rgba(1, 10, 32, 0.9) 100%
    ),
    url("./images/advantage1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.advantage:last-child {
  padding: 56px 30px 48px;
  background: linear-gradient(
      180deg,
      rgb(1, 10, 32) 0%,
      rgba(1, 10, 32, 0.9) 100%
    ),
    url("./images/advantage2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.advantage-img {
  width: 314px;
  height: 232px;
  border-radius: 5px;
}
.advantage-title {
  color: white;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 34px;
}
.advantage-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 24px;
  margin-top: 30px;
}
.advantage-btn {
  margin-top: 39px;
}

/* SLIDER */
.slider {
  padding-top: 25px;
  background: url("./images/swiper-bg-mob.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  overflow: hidden;
}
.slider-title,
.numbers-title,
.numbers-list-title {
  color: rgb(1, 10, 32);
  font-size: 43px;
  font-weight: 700;
  line-height: 46px;
}
span {
  display: block;
}
.swiper {
  margin-top: 23px;
  width: 100%;
  overflow: hidden;
}
.swiper-button-prev {
  color: #020b20;
  left: 0 !important;
  transition: color 250ms;
}
.swiper-button-next {
  color: #020b20;
  right: 0 !important;
  transition: color 250ms;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 24px;
  font-weight: 1000;
}
.swiper-pagination {
  top: auto !important;
  bottom: auto !important;
  margin-top: 16px;
}
.swiper-pagination-bullet {
  width: 16.48px;
  height: 16.48px;
  opacity: 1;
  background: rgb(133, 163, 178);
}
.swiper-pagination-bullet-active {
  background: var(--accent-color);
}
.swiper-slide {
  display: flex;
  justify-content: center;
}
.swiper-img {
  width: 314px;
  height: 200px;
  border-radius: 10px;
}
/* By The Numbers article */
.numbers-container {
  margin-top: 695px;
  padding: 72px 30px 69px;
  background-color: rgba(2, 12, 33, 0.9);
}
.numbers-title {
  color: white;
}
.numbers-text {
  color: var(--text-color);
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-top: 57px;
}
.numbers-list {
  margin-top: 62px;
}
.numbers-list-item:nth-child(2) {
  margin-top: 81px;
}
.numbers-list-item:last-child {
  margin-top: 44px;
}
.numbers-list-title {
  color: var(--accent-color);
}
.numbers-list-text {
  color: var(--text-color);
  line-height: 24px;
  letter-spacing: 0.5px;
}

/* BENEFITS */
.benefits {
  padding: 125px 0 116px;
  background-image: url("./images/benefits-bg-mob.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
.benefits-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
}
.benefits-text {
  color: rgb(111, 119, 135);
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-top: 36px;
}
.benefits-btn {
  margin-top: 41px;
}

/* EXPERIENCE */
.experience {
  padding: 83px 0 37px;
  text-align: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)),
    url("./images/experience-bg-mob.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.experience-title {
  color: white;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
}
.experience-video {
  background-image: url("./images/experience-video.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 62px 124px;
  border-radius: 10px;
  margin-top: 115px;
}
.experience-video-btn {
  background-color: rgb(233, 58, 125);
}
.experience-triangle {
  border-left-color: white;
}
.experience-list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.experience-img-container,
.tips-img-container {
  position: relative;
}
.experience-img {
  border-radius: 10px;
  position: relative;
}
.experience-list-title {
  margin-top: 36px;
  color: white;
  font-size: 22px;
  font-weight: 700;
  line-height: 150%;
}
.experience-list-text {
  color: var(--text-color);
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-top: 17px;
}

/* GALLERY */
.gallery {
  padding: 32px 0 40px;
  text-align: center;
}
.gallery-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
}
.gallery-text,
.tips-list-text {
  color: rgb(111, 119, 135);
  line-height: 24px;
  letter-spacing: 0.5px;
}
.gallery-list {
  display: grid;
  grid-template-columns: repeat(2, 151px);
  grid-auto-rows: 75px;
  justify-content: center;
  gap: 12px;
}
.gallery-list-item:nth-child(1) {
  grid-column: 1;
  grid-row: span 3;
}
.gallery-list-item:nth-child(2) {
  grid-column: 1;
  grid-row: 4 / span 1;
}
.gallery-list-item:nth-child(3) {
  grid-column: 2;
  grid-row: 1 / span 1;
}
.gallery-list-item:nth-child(4) {
  grid-column: 2;
  grid-row: 2 / span 3;
}
.gallery-list-item:nth-child(5) {
  grid-column: 1;
  grid-row: 5 / span 2;
}
.gallery-list-item:nth-child(6) {
  grid-column: 2;
  grid-row: 5 / span 2;
}
.gallery-img {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* TIPS */
.tips {
  padding: 29px 0 73px;
  background: rgb(220, 232, 242);
  text-align: center;
}
.tips-title {
  color: rgb(1, 10, 32);
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
}
.tips-list {
  list-style: none;
  counter-reset: custom-counter;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  padding: 0;
}
.tips-list-item {
  counter-increment: custom-counter;
}
.tips-list-item::before {
  content: counter(custom-counter);
  color: white;
  border-radius: 50%;
  background-color: rgb(221, 34, 66);
  padding: 10px 20px;
  font-size: 26.41px;
  font-weight: 500;
  line-height: 38.15px;
  width: 56px;
  height: 56px;
}
.tips-list-item:first-child::before {
  padding: 10px 23px;
}
.tips-list-title {
  margin-top: 26px;
  color: rgb(1, 10, 32);
  font-size: 22px;
  font-weight: 700;
  line-height: 150%;
}
.tips-list-text {
  margin-top: 13px;
}
.tips-list-text.shortened::after {
  content: "...";
}
.tips-list-text.shortened {
  display: block;
  overflow: hidden;
  white-space: nowrap;
}
.tips-list-container {
  margin-top: 32px;
}
.show-more {
  border: none;
  padding: 0;
  background-color: transparent;
  color: rgb(221, 34, 66);
  cursor: pointer;
  font-weight: 500;
  margin-top: 8px;
}

/* FOOTER */
.footer {
  padding: 146px 0 84px;
  background-color: #010a20;
  position: relative;
}
.footer > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}
.scroll-to-up {
  border: none;
  border-radius: 50%;
  background-color: rgb(221, 34, 66);
  padding: 41px 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -52px;
  left: 135px;
  cursor: pointer;
}
.footer-nav-list {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  gap: 36px;
}
.footer-nav-item {
  color: white;
  font-size: 23px;
  font-weight: 700;
  line-height: 35.69px;
  letter-spacing: 0.64px;
}
.footer-links-list {
  display: inherit;
  gap: 48.41px;
}
.footer-copyright {
  color: white;
  font-size: 23.24px;
  font-weight: 700;
  line-height: 36.15px;
  letter-spacing: 0.65px;
}
