// _experience.scss

.experience {
  padding: 83px 0 37px;
  @include background(
    linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)),
    url("../images/experience-bg-mob.png")
  );
  text-align: center;
  @include responsive($breakpoint-desktop) {
    padding: 141px 0 210px;
    @include background(
      linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)),
      url("../images/experience-bg-desk.jpg")
    );
  }

  &-title {
    @include text(white, 40px, 700, 46px);
    @include responsive($breakpoint-desktop) {
      font-size: 42px;
      line-height: 50px;
    }
  }

  &-video {
    @include background(url("../images/experience-video.jpg"), null, contain);
    @include flex-center();
    padding: 62px 124px;
    border-radius: 10px;
    margin-top: 115px;
    @include responsive($breakpoint-desktop) {
      background-size: cover;
      padding: 250px 480px;
      width: 1056px;
      height: 594;
      margin: 0 auto;
      margin-top: 67.2px;
    }

    &-btn {
      background-color: rgb(233, 58, 125);
      @include responsive($breakpoint-desktop) {
        width: 96px;
        height: 96px;
      }
    }
  }
  &-triangle {
    border-left-color: white;
  }

  &-list {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include responsive($breakpoint-desktop) {
      margin-top: 125px;
      flex-direction: row;
      gap: 75px;
    }

    &-item {
      @include responsive($breakpoint-desktop) {
        display: flex;
        gap: 42px;
        align-items: flex-start;
        text-align: left;
      }
    }

    &-title {
      @include text(white, 22px, 700, 150%);
      margin-top: 36px;
      @include responsive($breakpoint-desktop) {
        margin-top: 0;
        font-size: 18px;
      }
    }

    &-text {
      @include text($text-color, 16px, 400, 24px, 0.5px);
      margin-top: 17px;
      @include responsive($breakpoint-desktop) {
        font-size: 18px;
        line-height: 28px;
      }
    }
  }

  &-img-container {
    position: relative;

    .abs {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &-img {
    border-radius: 10px;
    position: relative;
  }
}
