// _header.scss

.header {
  position: absolute;
  padding: 48px 0;
  width: 100%;

  > .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &-container {
    @include responsive($breakpoint-desktop) {
      display: flex;
      align-items: center;
      gap: 64px;
    }
  }

  .nav-list {
    display: none;

    @include responsive($breakpoint-desktop) {
      display: flex;
      gap: 62.1px;

      &-item {
        @include text(white, 18px, 700, 23px);
        cursor: pointer;
      }
    }
  }

  .icons-container {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .icons-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
}
